<div class="box">
    <div class="box-body">
       <div class="row">
          <div class="col-lg-4 col-xs-5">
             <div class="small-box bg-aqua">
                <div class="inner">
                   <h3><%=user%></h3>
                   <h4>Total Users</h4>
                </div>
                <div class="icon"><i class="fa fa-info-circle"></i> </div>
                <a href="/admin/listUser">Detail Info</a>
             </div>
          </div>
          <div class="col-lg-4 col-xs-5">
              <div class="small-box bg-green">
                 <div class="inner">
                    <h3><%=company%></h3>
                    <h4>Total Company</h4>
                 </div>
                 <div class="icon"><i class="fa fa-university"></i> </div>
                 <a href="/admin/listCompany">Detail Info</a>
              </div>
           </div>
           <div class="col-lg-4 col-xs-5">
              <div class="small-box bg-yellow">
                 <div class="inner">
                    <h3><%=pending%></h3>
                    <h4>Total Pending Company</h4>
                 </div>
                 <div class="icon"><i class="fa fa-info-circle"></i> </div>
                 <a href="/admin/validation">Detail Info</a>
              </div>
           </div>
       </div>
    </div>
    <div class="box-footer"></div>
 </div>
 
 