<div class="modal modal-warning fade" id="modal-warning">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4>Nofirfikasi Pesan</h4>
      </div>
      <div class="modal-body">
        <p class="modal-title">Anda yakin ingin melanjutkan ??</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Tutup</button>
        <a href="" type="button" class="btn btn-outline modal-action">Lanjutkan</a>
      </div>
    </div>
  </div>
</div>
