<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <i class="fa fa-fw fa-facebook-square"></i>
      <i class="fa fa-fw fa-twitter-square"></i>
    </div>
    <strong>Copyright &copy; 2018 <a href="/">SuratIzin[dot]Com</a>.</strong> All rights reserved.
  </div>
</footer>
