<div class="col-md-3">
  <label>SuratIzin[dot]Com</label>
  <p>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Home</a><br>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Tentang Kami</a><br>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Kebijakan Privasi</a><br>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Syarat Penggunaan</a><br>
  </p>
</div>
<div class="col-md-3">
  <label>Menjadi Mitra Kami</label>
  <p>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Cara Kerja</a><br>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Pendaftaran Mitra</a><br>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Bantuan</a><br>
  </p>
</div>
<div class="col-md-3">
  <label>Mencari Layanan Jasa</label>
  <p>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Cara Kerja</a><br>
    <a href="/"><i class="fa fa-fw fa-caret-right"></i> Bantuan</a><br>
  </p>
</div>
<div class="col-md-3 text-right">
  <label>Hubungi Kami</label>
  <table border="0" colspan="10" rowspan="10" width="100%">
    <tr valign="top">
      <td width="95%">Gedung Kemang 15 lantai 3<br>Jl. Kemang Raya no. 15<br>Bangka, Jakarta Selatan</td>
      <td width="5%"><i class="fa fa-fw fa-map-marker"></i></td>
    </tr>
    <tr valign="top">
      <td width="95%">0821 1212 4452</td>
      <td width="5%"><i class="fa fa-fw fa-phone-square"></i></td>
    </tr>
    <tr valign="top">
      <td width="95%"><a href="mailto:admin@suratizin.com">admin@suratizin.com</a></td>
      <td width="5%"><i class="fa fa-fw fa-envelope"></i></td>
    </tr>
  </table>
</div>
