<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active">
        <a href="/admin"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
      </li>
      <%
        var userTitle=''
        var companyTitle=''
        if(title=='User'){
          userTitle='active'
        }else if(title=='Admin'){
          userTitle='active'
        }else if(title=='Company'){
          companyTitle='active'
        }
      %>
      <li class="treeview <%=userTitle%>">
        <a href="#">
          <i class="fa fa-laptop"></i> <span>User Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <% if(userSession.role == 0){ %>
          <li><a href="/admin/list"><i class="fa fa-circle-o"></i>Admin</a></li>
          <%}%>         
          <%if(userSession.role==0 || userSession.role==1){%>
          <li><a href="/admin/listUser"><i class="fa fa-circle-o"></i> List User</a></li>
          <%}%>
        </ul>
      </li>
      <li class="treeview <%=companyTitle%>">
        <a href="#">
          <i class="fa fa-laptop"></i> <span>Company Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <%if(userSession.role==0 || userSession.role==1){%>
          <li><a href="/admin/listCompany"><i class="fa fa-circle-o"></i> Validated Company</a></li>
          <li><a href="/admin/validation"><i class="fa fa-circle-o"></i> Validation Company</a></li>
          <%}%>
        </ul>
      </li>

    </ul>
  </section>
</aside>
