<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/metahead %>
</head>

<body class="hold-transition <%= setting.app_publictheme %> layout-top-nav fixed">
  <div class="wrapper">
		<% include partials/menutop %>

		<div class="content-wrapper">
			<% include home %>
	  </div>

    <% include partials/footer %>
  </div>

  <% include partials/metafooter %>
</body>
</html>
