<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/metahead %>
</head>

<body class="hold-transition <%= setting.app_publictheme %> layout-top-nav fixed">
  <div class="wrapper">
		<% include ../partials/menutop %>
		<% include ../partials/confirm %>

		<div class="content-wrapper">
      <div class="container">
        <div class="content">

					<div class="row">
		        <div class="col-md-3">
							<% include ../partials/sidebaruser %>
		          <% include ../partials/sidebaruserprofile %>
		        </div>

		        <div class="col-md-9">
							<%- include(content) %>
		      	</div>

					</div>

        </div>
      </div>
	  </div>

    <% include ../partials/footer %>
  </div>

  <% include ../partials/metafooter %>
</body>
</html>
